<div id="master-header">
Master Control
</div>
<% nodes = Hash.new %>
<% nodes["ams"] = ["haproxy", "apache", "bha"] %>
<% nodes["cms"] = ["service1","service2","service3"] %>

<% nodes.keys.each do |key| %>
<% puts key %>
<div id = "node-name">
  Node: <%=key.to_s%> <button>reboot</button> <button>chef-client</button>
</div>
<% nodes[key].each do |s| %>
  <div id = "services">
    <%=s.to_s%> <button>start</button> <button>stop</button> <button>restart</button>
  </div>
  <% end %>
<% end %>

<button>test</button>
<div id="footer">
  Copyright ClipInteractive 2012
</div>
